// Заголовки, общие БЄМ блоки и проче...
._footer-title {
  @include adaptiveValue('font-size', 24, 20, 1);
  line-height: prc(29, 24);
  font-weight: 700;
  color: #000000;
}

.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2, rem(48));
  column-gap: rem(8);
}

.slider-arrow {
  font-size: rem(12);
  height: rem(48);
  border-radius: 50%;
  color: $secondColor;
  background-color: rgba(232, 159, 113, 0.3);
  cursor: pointer;
  transition: all 0.3s ease 0s;

  // .slider-arrow_prev
  &_prev {
    &::before {
      transform: rotate(90deg);
    }
  }

  // .slider-arrow_next
  &_next {
    &::before {
      transform: rotate(-90deg);
    }
  }

  @media (any-hover: hover) {
    &:hover {
      color: #ffffff;
      background-color: rgba(232, 159, 113, 1);
    }
  }

  &_white {
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;

    @media (any-hover: hover) {
      &:hover {
        color: #ffffff;
        background-color: $secondColor;
      }
    }
  }
}

.swiper-pagination-bullets {
  display: flex;
  flex-wrap: wrap;
}

.swiper-pagination-bullet {
  cursor: pointer;
  flex: 0 0 rem(27);
  height: rem(27);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: rem(2) 0;

  &:not(:last-child) {
    margin-right: rem(12);
  }

  &::after {
    content: '';
    width: rem(11);
    height: rem(11);
    border-radius: 50%;
    background-color: #d8d8d8;
    transition: background-color 0.3s ease 0s;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid $secondColor;
    top: 0;
    left: 0;
    transition: transform 0.3s ease 0s;
    transform: scale(0);
  }

  &-active {
    &::after {
      background-color: $secondColor;
    }

    &::before {
      transform: scale(1);
    }
  }
}
