//====================================================================================================
.footer {
  // .footer__container
  &__container {
  }

  // .footer__body
  &__body {
    display: grid;
    grid-template-columns: rem(250) 1fr rem(290);
    border-top: rem(1) solid #d8d8d8;
    @include adaptiveValue('padding-top', 80, 30, 1);
    @include adaptiveValue('padding-bottom', 60, 30, 1);
    @include adaptiveValue('column-gap', 80, 0, 1);

    @media (max-width: em(1220)) {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr rem(290);
    }

    @media (max-width: $tablet) {
      display: block;
    }
  }

  // .footer__main
  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: em(1220)) {
      grid-column: span 2;
      @include adaptiveValue('margin-bottom', 40, 30, 1);
    }
  }

  // .footer__logo
  &__logo {
    margin-bottom: em(16, 24);
  }

  // .footer__text
  &__text {
    color: $thirdColor;
    line-height: 150%;

    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  // .footer__contacts
  &__contacts {
  }
  // .footer__menu
  &__menu {
    @include adaptiveValue('margin-bottom', 40, 30, 1);
  }
  // .footer__subscribe
  &__subscribe {
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // .contacts-footer__item
  &__item {
    display: inline-flex;
    align-items: center;
    line-height: 150%;
    color: $thirdColor;
    transition: color 0.3s ease 0s;

    &::before {
      margin-right: rem(8);
    }

    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 16, 10, 1);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $secondColor;
      }
    }
  }
}

.menu-footer {
  @media (min-width: $mobile) {
    display: flex;
  }

  // .menu-footer__column
  &__column {
    @media (min-width: $mobile) {
      flex: 0 1 33.333%;
    }

    @media (max-width: $mobile) {
      @include adaptiveValue('margin-bottom', 30, 15, 1);
    }
  }

  // .menu-footer__title
  &__title {
    cursor: default;

    @media (min-width: $mobile) {
      margin-bottom: em(16, 24);
    }

    ._spoller-init & {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @extend ._icon-arrow-down;

      &::before {
        @extend %ic;
        font-size: rem(14);
        transition: transform 0.3s ease 0s;
      }
    }

    &._spoller-active {
      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  // .menu-footer__list
  &__list {
    li {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }

    @media (max-width: $mobile) {
      padding-top: rem(15);
    }
  }

  // .menu-footer__link
  &__link {
    line-height: 120%;
    color: $thirdColor;
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $secondColor;
      }
    }
  }
}

.subscribe {
  // .subscribe__title
  &__title {
    margin-bottom: em(16, 24);
  }

  // .subscribe__form
  &__form {
    position: relative;
    display: flex;

    .form__error {
      position: absolute;
      font-size: rem(12);
      color: red;
      margin-top: rem(3);
      top: 100%;
      left: rem(12);
    }
  }

  // .subscribe__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(18);
    flex: 0 0 rem(45);
    height: rem(45);
    color: #ffffff;
    background-color: $secondColor;
    margin-left: rem(4);
    transition: background-color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #be825c;
      }
    }
  }

  // subscribe__input
  &__input {
    width: 100%;
    color: #828282;
    background-color: #f4f5f7;
    padding: 0 rem(12);
  }
}

// //====================================================================================================
