@use 'sass:math';

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import 'base/mixins';

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import 'fonts/fonts';

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import 'fonts/icons';

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'gilroy-regular';
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #3a3a3a; // Цвет шрифта по умолчанию
$secondColor: #e89f71; // orange
$thirdColor: #898989; // gray
$fourthColor: #616161; // dark gray

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1240;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(
  $containerWidth
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(993); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(769); // Телефоны L
$mobileSmall: em(481); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

body {
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Сайт загружен
  .loaded & {
  }
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // По брейк-поинтам
  [class*='__container'] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import 'base';
@import 'base/forms/button';

// Подключение стилей общих элементов проекта
@import 'common';

// Подключение стилей отдельных блоков
@import 'header';
@import 'footer';

// Подключение стилей отдельных страниц
@import 'home';

// TODO ++Project Furniture Store ==========================================================================================================================
.page {
  flex: 1 1 auto;

  // .page__main-slider
  &__main-slider {
  }
}

.page {
  // .page__advantages
  &__advantages {
  }
}

.page {
  // .page__products
  &__products {
  }
}

.main-slider {
  background-color: #fcf8f3;

  // .main-slider__container
  &__container {
    position: relative;

    @media (min-width: $tablet) {
      &::before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        background-color: #f9f1e7;
        top: 0;
        right: rem(376);
      }
    }
  }

  // .main-slider__body
  &__body {
    position: relative;
    z-index: 2;
    padding-top: rem(140);

    @media (max-width: $tablet) {
      padding-top: rem(80);
    }

    @media (max-width: $mobile) {
      padding-top: rem(50);
    }

    @media (min-width: $tablet) {
      display: flex;
    }
  }

  // .main-slider__content
  &__content {
    flex: 0 0 prc(494, 1240);
    align-self: flex-start;
    @include adaptiveValue('margin-bottom', 80, 15, 1);

    @media (max-width: $tablet) {
      margin: 0 rem(-15);
    }
  }

  // .main-slider__slider
  &__slider {
    min-width: 0;
    flex: 1 1 auto;
    align-self: flex-end;

    @media (min-width: $tablet) {
      padding-left: rem(32);
    }
  }
}

.content-main {
  position: relative;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.72);
  padding-left: rem(15);
  padding-right: rem(15);
  @include adaptiveValue('padding-top', 60, 15, 1);
  @include adaptiveValue('padding-bottom', 60, 15, 1);

  @media (min-width: $tablet) {
    background-color: rgba(255, 255, 255, 0.9);
    @include adaptiveValue('padding', 60, 1, 1);

    // Если браузер поддерживает backdrop-filter
    @supports (
      (-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))
    ) {
      background-color: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }

  // .content-main__title
  &__title {
    @include adaptiveValue('font-size', 56, 24, 1);
    line-height: 120%;
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: em(16, 56);
    }
  }

  // .content-main__text
  &__text {
    @include adaptiveValue('font-size', 20, 15, 1);
    line-height: 150%;
    color: $thirdColor;

    &:not(:last-child) {
      margin-bottom: em(48, 20);
    }
  }

  // .content-main__button
  &__button {
    @include adaptiveValue('font-size', 20, 16, 1);
    font-weight: 600;
    width: 100%;
    @include adaptiveValue('min-height', 78, 45, 1);
    color: #ffffff;
    background-color: $secondColor;

    @media (any-hover: hover) {
      &:hover {
        background-color: #966749;
      }
    }
  }
}

.slider-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: $tablet) {
    align-items: stretch;
    flex-direction: column-reverse;
  }

  // .slider-main__controls
  &__controls {
    align-self: stretch;
    margin-bottom: rem(20);

    @media (max-width: $tablet) {
      margin-top: rem(10);
    }
  }

  // .slider-main__body
  &__body {
    &.swiper {
      overflow: visible;

      @media (min-width: $tablet) {
        @include adaptiveValue('width', 934, 290, 1);
      }

      @media (max-width: $tablet) {
        margin: 0 rem(-15);
      }
    }
  }

  // .slider-main__wrapper
  &__wrapper {
  }

  // .slider-main__slide
  &__slide {
    position: relative;
    margin-right: 32px;
  }

  // .slider-main__image
  &__image {
    padding-bottom: 59.1%;
  }

  // .slider-main__content
  &__content {
    display: flex;
    flex-direction: column;
    min-width: rem(295);
    max-height: rem(300);
    overflow: auto;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.9);
    @include adaptiveValue('padding', 24, 15, 1);

    @media (min-width: $mobile) {
      position: absolute;
      min-width: rem(350);
      @include adaptiveValue('right', 40, 0, 1);
      @include adaptiveValue('bottom', 40, 0, 1);
    }

    // Если браузер поддерживает backdrop-filter
    @supports (
      (-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))
    ) {
      background-color: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }

  // .slider-main__title
  &__title {
    @include adaptiveValue('font-size', 28, 22, 1);
    line-height: 120%;
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: em(4, 28);
    }
  }

  // .slider-main__text
  &__text {
    line-height: 150%;
    color: $thirdColor;

    &:not(:last-child) {
      margin-bottom: em(8, 16);
    }
  }

  // .slider-main__price
  &__price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue('font-size', 20, 16, 1);
    line-height: 150%;
    font-weight: 600;

    &::before {
      font-size: rem(12);
      margin-left: rem(10);
    }
  }
}

.controls-slider-main {
  display: flex;
  align-items: center;

  // .controls-slider-main__dots
  &__dots {
    flex: 1 1 auto;

    @media (min-width: $tablet) {
      padding: 0 rem(20);
    }

    @media (max-width: $tablet) {
      justify-content: center;
    }
  }

  // .controls-slider-main__arrows
  &__arrows {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

// TODO Advantages ==========================================================================================================================
.advantages {
  @include adaptiveValue('padding-top', 88, 30, 1);
  @include adaptiveValue('padding-bottom', 88, 30, 1);

  // .advantages__container
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .advantages__item
  &__item {
    display: inline-grid;
    grid-template: auto auto / rem(85) 1fr;
    padding: rem(15) 0;

    @media (max-width: $tablet) {
      min-width: rem(280);
    }

    @media (max-width: $mobile) {
      grid-template: auto auto / auto 1fr;
    }
  }

  // .advantages__icon
  &__icon {
    text-align: center;
    align-self: center;
    grid-row: span 2;

    @media (max-width: $mobile) {
      padding-right: rem(15);
    }
  }

  // .advantages__title
  &__title {
    font-size: rem(18);
    line-height: 150%;
    font-weight: 600;
    margin-bottom: em(2, 18);
  }

  // .advantages__text
  &__text {
    line-height: 150%;
    color: $thirdColor;
  }
}

// TODO Products ==========================================================================================================================
.products {
  @include adaptiveValue('padding-bottom', 44, 30, 1);

  // .products__container
  &__container {
  }

  // .products__title
  &__title {
    margin-bottom: em(32, 40);
  }

  // .products__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(285), 1fr));
    gap: rem(32);
  }

  // .products__item
  &__item {
  }

  // .products__footer
  &__footer {
    text-align: center;
    padding-top: rem(32);
  }

  // .products__more
  &__more {
    min-width: rem(245);
    border: 1px solid $secondColor;
  }
}

.item-product {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;

  @media (any-hover: hover) {
    &:hover {
      .item-product__actions {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // .item-product__labels
  &__labels {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    @include adaptiveValue('top', 24, 10, 1);
    @include adaptiveValue('right', 24, 10, 1);
  }

  // .item-product__label
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 rem(48);
    width: rem(48);
    color: #ffffff;
    border-radius: 50%;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    // .item-product__label_sale
    &_sale {
      background-color: #e97171;
    }

    // .item-product__label_new
    &_new {
      background-color: #2ec1ac;
    }
  }

  // .item-product__image
  &__image {
    padding-bottom: prc(301, 285);
  }

  // .item-product__body
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: rem(16) rem(16) rem(30) rem(16);
  }

  // .item-product__content
  &__content {
    flex: 1 1 auto;
  }

  // .item-product__title
  &__title {
    @include adaptiveValue('font-size', 24, 20, 1);
    line-height: 120%;
    font-weight: 600;
    margin-bottom: em(8, 24);
  }

  // .item-product__text
  &__text {
    line-height: 150%;
    color: $thirdColor;
    margin-bottom: em(8, 24);
  }

  // .item-product__prices
  &__prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 150%;
  }

  // .item-product__price
  &__price {
    @include adaptiveValue('font-size', 20, 16, 1);
    font-weight: 600;

    // .item-product__price_old
    &_old {
      @include adaptiveValue('font-size', 16, 14, 1);
      font-weight: 500;
      text-decoration: line-through;
      color: #b0b0b0;
      margin-left: rem(16);
    }
  }

  // .item-product__actions
  &__actions {
    @media (any-hover: none) {
      padding-top: rem(15);
    }

    @media (any-hover: hover) {
      position: absolute;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(58, 58, 58, 0.74);
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
    }
  }
}

.actions-product {
  // .actions-product__body
  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .actions-product__button
  &__button {
    flex: 1 1 100%;

    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  // .actions-product__link
  &__link {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: inherit;
    transition: color 0.3s ease 0s;

    &::before {
      font-size: rem(16);
      margin-right: rem(10);
    }

    @media (any-hover: hover) {
      color: #ffffff;

      &:hover {
        color: $secondColor;
      }
    }
  }
}

// TODO --Project Furniture Store ==========================================================================================================================
